logs/*
cache/*
assets/*
user/themes/*
user/plugins/*
user/config/*
backup/*
bin/*
cache/*
images/*
logs/*
user/config/themes/*
vendor/*
images/*
tmp/*
webserver-configs/*
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE.txt
composer.json
composer.lock
